@charset "utf-8";



@font-face {
    font-family: grundfos-light;
    src: url(../fonts/GrundfosTheSansV2OT-2XL.otf);
}

@font-face {
    font-family: grundfos-bold;
    src: url(../fonts/GrundfosTheSansV2OT-8XB.otf);
}

/* Globals definition */

/* Grundfos Colors */
$corporate-blue:     #11497b;
$complementary-blue: #0068b4;
$blue:               #3386c3;
$light-blue:         #8cbbdd;
$grey:               #9CA0A3;
$black:              #000;

/* End Grundfos Colors */

/* Global modifications */

@mixin shadow() {
-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.51);
box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.51);
}


@mixin hover-fade() { 

-webkit-transition:  0.3s ease-in-out;
     -o-transition:  0.3s ease-in-out;
        transition:  0.3s ease-in-out;

}

/* Global modifications end */ 

body{
	margin: 0;
    background-color: #F2F2F2;

}

.page1 { 
margin: auto;
width:80%;
height: 100%;    
@include shadow ();

 

header { 
background-color: $corporate-blue;
max-width: 100%;
height: 150px;
margin: auto;
position: relative;
   
    

.logo {
        
width: 20%; 
padding: 30px;
margin-left: 10px;    
    
    }    

    
    .user-login { 
    


width: 40%;
position: absolute;
top: 20px;
right: 0;         
       
    
    
    }
    
    .user-login li { 
    
    display: inline;
    font-size: 0.7em;
    color: $blue; 
    font-family: grundfos-light;    
    
    
    }    

.navigation { 
background-color: $grey; 
width: 100%;
height: 50px;
margin: auto;
position: absolute;
bottom: 0;
left: 0;    
    
    
    }

    .nav { 
    width: 75%;
    margin:auto;
    text-align: center;
    padding: 15px;    
        
    
    }
    
    .nav li{ 
    display: inline;
    font-size: 0.8em;
    color: $black; 
    font-family: grundfos-bold;
    font-weight: 900;
    text-transform: uppercase;
    margin: 15px;    
    
  
        }
    
       li:hover {
            
         @include hover-fade();
         color: $corporate-blue;
         filter: brightness(1.5);
    }    


}

.container__quiz { 
background-image: url(../images/bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;       
width: 100%;
height: 636px;
position: relative;
margin:auto;
display: none;    
    
    



.main-title { 

top: 0;
left: 0;     
width: 30%;    
margin:auto;    
font-size:2em;
text-align: center;    
font-family: grundfos-light;
text-transform: uppercase;
color: $corporate-blue;    
padding: 15px;
}

     
    
.title { 
text-align:center;
display: inline; 
font-size: 1em;
font-family: grundfos-light;

    &__user { 
    
    width: 140px;
    height: 30px;
        
        
    }    
    
}

#title2 { 

font-family: grundfos-bold;    

}

    
 
    .question-section { 
    
    background-color: rgba(0,0,0,0.62);
    border: solid;
    border-width: 1px;
    border-color: $blue;    
    width: 55%;
    height: 450px;
    margin: auto;  
        
        &__exit { 
        
        font-size: 2em;
        float: right;
        color: #fff;
        padding: 1%;
        margin-top: -4%;
		@include hover-fade();	
		
            
        
        }
		
		&__exit:hover { 
		
		font-size:2.2em;
		color: $blue;
		
		}
        
    
        &__progress { 
        
        color: #fff;
        padding: 1%;
        font-family: grundfos-light;
        margin: auto;
            
            
        }
    
        &__question { 
        
        color: #fff;
        text-align:center;
        width:50%;
        margin:auto;
        font-family: grundfos-light;
        font-size: 1vw;    
        
        
        } 
        
        &__answer { 
        
        
        width: 60%;
        height: 200px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;    
        
            &__item { 
            
            width: 70%;
            background-color: #fff; 
            margin: auto;
            border: solid;
            border-width: 1px;
            border-color: $blue;
			@include hover-fade ();	
				
				
				
                
                img { 
                
                padding: 4%;
                width:20%;    
                    
                
                }
                
                p { 
                
                color: #000;
                margin: auto;    
                float: right;
                text-align: center;
                margin-right: 35%;
                margin-top:8%;    
                font-family: grundfos-light; 
                font-size: 0.8vw;    
                    
                
                }
				
				p:hover { 
				
				color:#fff
				
				}	
				
                
            }    
            
			&__item:hover { 
			
			background-color: $blue;
			color: #fff;

				
			
			}
			
        }
        
    }
    
    
    

    
    .progress { 
    position: absolute;
    height: 5%;
    width: 100%;    
    background-image: url(../images/progress.png);
    bottom: 0;
    left: 0; 
    @include shadow();    
        
    }    
    .xp-bar { 
    padding: 5px;
    margin: auto;
    text-align: center;    
    font-family: grundfos-light;
    color: $complementary-blue;    
    }
    
   
    
}      
    
.container__video { 
background-image: url(../images/bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;       
width: 100%;
height: 636px;
position: relative;
margin:auto;
	
    
    
    



.main-title { 

top: 0;
left: 0;     
width: 30%;    
margin:auto;    
font-size:2em;
text-align: center;    
font-family: grundfos-light;
text-transform: uppercase;
color: $corporate-blue;    
padding: 15px;
}

     
    
.title { 
text-align:center;
display: inline; 
font-size: 1em;
font-family: grundfos-light;

    &__user { 
    
    width: 140px;
    height: 30px;
        
        
    }    
    
}

#title2 { 

font-family: grundfos-bold;    

}

    
    
    
    .video-title { 
    
    
    display: grid;
    
    margin-left: 20%;
    grid-template-columns: 40% 40%;
        
    
        .title-content { 
        
        font-family: grundfos-light;
        font-weight: 200;    
        font-size: 2em;
        color: #fff;    
        
        }
             .exit { 
            
            font-size: 2em;
            color: #fff;
            margin: auto;
            margin-left: 85%;
			@include hover-fade();	 
            
            }  
       
		.exit:hover { 
		
		color: $blue;
		font-size: 2.2em;	
		
		
		}
    
    }
    
    .video-section {
    margin: auto;    
    display: grid;
    width:100%;    
    grid-template-columns: 40% 25%;
    position: absolute;
    margin-left: 20%;
    height: 60%; 
    grid-gap: 2%;
        
        
        
        
    
    .video-content { 
    
     border-style: solid;
    border-width: 2px;
    border-color: $blue;
        
    
    }
    
    .video-list { 
    
    background-color: rgba(0,0,0,0.56);
    border-style: solid;
    border-width: 2px;
    border-color: $blue;    
    width: 80%;
    font-family: grundfos-light;
    
        #video-title{ 
        
        color: #fff;
        font-size: 1.5em;
        margin: 5%;
        margin-left: 8%;    
        }
    
        .videos { 
        
        color: #fff;
        line-height: 250%
			
         
            
        } 
		
		li  { 
		
		@include hover-fade;	
			
		
		}
		
		li:hover { 
		
		color: $blue;	
		
		}
        
        
    }
    
        
    
        
    } 
    
    .progress { 
    position: absolute;
    height: 5%;
    width: 100%;    
    background-image: url(../images/progress.png);
    bottom: 0;
    left: 0; 
    @include shadow(); 
		
        
    }    
    .xp-bar { 
    padding: 5px;
    margin: auto;
    text-align: center;    
    font-family: grundfos-light;
    color: $complementary-blue;
		
    }
    
   
    
}    
    
.container { 
background-image: url(../images/bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;       
width: 100%;
height: 536px;
position: relative;
margin:auto;
display: none;	
    
    
.main-title { 

top: 0;
left: 0;     
width: 30%;    
margin:auto;    
font-size:1.8vw;
text-align: center;    
font-family: grundfos-light;
text-transform: uppercase;
color: $corporate-blue;    
padding: 15px;
}

     
    
.title { 
text-align:center;
display: inline; 
font-size: 1em;
font-family: grundfos-light;
	

    &__user { 
    
    width: 140px;
    height: 30px;
        
        
    }    
    
}

#title2 { 

font-family: grundfos-bold;    

}
.profile { 

width: 100%;    

    
    
.profile_button { 

background-image: url(../images/profile_btn.png);
background-repeat: no-repeat;
background-size: 100%;     
width:10%;
text-align: center;
margin:auto;    
border-radius: 10px;    
@include shadow ();
}

    .profile_button:hover { 
    
    filter: brightness(1.2);
    @include hover-fade();    
    
    }    
 
    .profile_text { 
    
    font-size: 1vw;
    color: #fff;
    padding: 7px;    
    font-family: grundfos-light;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;    
    }    
  
    
}

    .profile_info { 
    margin:auto;
    width:65%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    margin-top: 2%;    
    
    }   
    
.circles {
  width: 100%;
    float:left;
    margin: auto;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
  @include shadow ();
    
}  
   
    .content { 
    width: 50%;   
    background-color: blue;
    margin:auto;
    display: none;    
        
    
    }    
    
     .content__profile { 
    width: 50%;   
    background-color: blue;
    margin:auto;
        
        
    
    } 
    
    .trophy { 
    width: 4%;    
    margin-top: 10%;    
    display:block;
    margin: auto;
    position: absolute;
    margin-left: 1%; 
    padding: 20px;    
    
    }
    .text1 { 
    
    position: absolute;
    margin-top: 8%;
    text-align: center; 
	vertical-align: middle;	
    font-family: grundfos-bold;
    text-transform: uppercase;
	font-size: 1vw;
		
		
		
		
    
    }
    
    .text2 { 
    
    position: absolute;
    margin-top: 11%;
	margin-left: -1.5%;	
    text-align: center;
	vertical-align: middle;	
    font-family: grundfos-light;
	font-size: 1vw;	
    
    }
    
    
    .progress { 
    position: absolute;
    height: 5%;
    width: 100%;    
    background-image: url(../images/progress.png);
    bottom: 0;
    left: 0; 
    @include shadow();    
        
    }    
    .xp-bar { 
    padding: 5px;
    margin: auto;
    text-align: center;    
    font-family: grundfos-light;
    color: $complementary-blue;    
    }
    
   
    
}

 .resume-progress {
width: 100%;        
background-color: $corporate-blue;
height: 150px; 

         
     
    }
    
    

 .resume-progress__content {
margin-top: 3%;        
width: 80%; 
display: grid;
grid-template-columns: 50% auto auto;
margin: auto;
padding: 25px;     
     

    .resume-progress__video { 
    
     width: 50%;
     height: 75px;
     background-image: url(../images/play-button.png);
     border-style:solid;
     border-width: 1px;
     border-color: #fff;
     @include shadow();
     margin-right: 35%;    
        
    } 
    
     h1, h2 { 
     
     color: #fff;
     font-family: grundfos-light;
     text-transform: uppercase;
     }
     
     h1 { 
     
     font-size: 1.2vw;
     margin-left: 20%;     
         
     
     }
     
     h2 { 
     
     font-size: 1vw;
     font-weight: 100;
         
     
     }
     
    }
    
    
    .topics { 
    
    width: 100%;
    height: 1000px;
    background-image: url(../images/../images/symbol-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;    
    
        &__section {
        width: 65%;    
        display: grid;
        grid-template-columns: 10% 80% auto;
        margin: auto;
        padding: 20px;
            
            h1 { 
            margin-top: 15%;
            font-size: 2vw;
            font-family: grundfos-light;
            color: $corporate-blue;    
            
            }    
            
            ul { 
            
            margin-top: 3%;
            
            }
            
            li { 
            
            display:inline;
            color:#000;
            font-size: 0.7vw;
            font-family: grundfos-bold;
            margin-left: 6%;
            margin-right: 3%;
                
            
            }
         
            &__filter { 
            
           width: 100%;
           height: 25px;
           background-image: url(../images/../images/filter-btn.png);
           background-repeat: no-repeat;
           background-size: 100%;
           margin-top: 20%;
           margin-left: 3%;        
                
                p { 
                 font-size: 0.8vw;
                color: #fff;
                padding: 7px;    
                font-family: grundfos-light;
                text-transform: uppercase;
                text-align: center;
                margin-left: 10px;
                margin-top: -3px;    
                
                }
                
               }  
             
            
            &__filter:hover { 
            
            filter: brightness(1.5);
            @include hover-fade();
                
            }
            
            li:hover {
                
            @include hover-fade();
            color: $corporate-blue;
            filter: brightness(1.5);
            border: solid;
            padding-bottom: 5px;    
            border-width: 0 0 3px;
                
                
                
            }
            
     } 
    

        .topics__content {
    margin: auto;    
    width: 65%;
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 50px 10%;        
        
            
            
            &__course { 
            
                
            
                
                
                img { 
                
                width:100%;    
               
                }
                
                img:hover { 
                filter: brightness(0.5);    
                @include hover-fade()
                    
                
                }
            
            h2 { 
            
            font-size: 0.7vw;
            font-family: grundfos-light;
            margin-top: -8%;
            color: $grey;    
                
            }
                
                h1 { 
                margin-top: -1%;    
                font-size: 1.2vw;
                color: $corporate-blue; 
                font-family: grundfos-light;
				padding-bottom: 5%;	
                padding-top: 2%;    
                }    
                
            }
        
        }
    
    
    }
        
      
        
    footer { 
    

    height: 560px;
    background-image: url(../images/Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    
          
        
        }
    
    footer:hover { 
        
        @include hover-fade();
        filter:brightness(1.2);
        
        
    }      
    
    
}



